#close_cookie{display:none;}
#close_cookie:checked + #cookie_consent_popup{display:none;}
#cookie_consent_popup{
    position:fixed;
    bottom:30px;left:30px;
    width:400px;
    height:300px;
    background-color: #d4edda;
    padding:0px;
    z-index:2;
}
#cookie_consent_popup h1{
    font-size:1.2em;
    padding-left: 20px;
    color: black;
}
#cookie_consent_popup h1:before{
    content:"";
    padding:0;
}
#cookie_consent_popup p{
    font-size:0.7em;
    padding: 15px 20px 0px 20px;
    text-align: justify;
    color: black;
}
#cookie_consent_popup #close_cookie_box{
    position:absolute;
    top:10px;right:20px;
    cursor:pointer;
    font-size:1.3em;
}

#close_cookie_box:hover {
    background-color: white;
}