.workflow-tittle {
    border: 1px solid #6c757d;
    background-color:#6c757d;
    border-radius: 5px;
}

.div-artifact-title {
    height: fit-content;
    overflow: auto;
    font-size: 15px;
    padding-left: 2px;
}

.div-artifact-info {
    height: fit-content;
    overflow: auto;
    padding-left: 2px;
    margin-top: 2px;
}

.toggle {
    display: none;
    height: fit-content;
}

.artifact-infos {
    height: 560px;
    overflow-y: auto;
}

.tittle-style {
    font-weight: bold;
    font-family: Times;
}

.info-style {
    font-style: italic;
    font-family: courier;
    font-size: 16px;
}

.div-artifact-title:hover {
    transform: translateY(10px) scale(1);
    transition: transform 300ms;
}

.div-artifact-info:hover {
    transform: translateY(10px) scale(1);
    transition: transform 300ms;
}

.target-popper {
    display: none;
    max-width: 300px;
    padding: 1em;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 2;
    top: -2.5% !important;
    left: 2% !important;
}

.target-popper.active tr td:first-child {
    font-weight: bold;
    color: #17a2b8 !important;
}

.target-popper.active {
    display: block;
}

.sugar-show {-webkit-transition: opacity 1s linear; -o-transition: opacity 1s linear; transition: opacity 1s linear;}
.sugar-hidden {opacity: 0; display: none;}

.legend-label {
    font-size: 14px;
    position: relative;
    top: 95%;
    left: 58%;
}

.legend-curent {
    background-color: #006400;
    height:10px;
    width:30px;
    margin-left: 2px;
    display:inline-block;
    position: relative;
    top: 95%;
    left: 58%;

}

.legend-visited {
    background-color: #90EE90;
    height:10px;
    width:30px;
    margin-left: 2px;
    display:inline-block;
    position: relative;
    top: 95%;
    left: 58%;
}

// progress bar for tasks

.text_a {
    position: absolute;
    top: 5px;
    left: 35%;
    margin: 0px 0px 0px -150px;
    font-size: 18px;
    text-align: center;
}

.text_b {
    position: absolute;
    top: 10px;
    right: 10%;
    margin: 0px 0px 0px -150px;
    font-size: 18px;
    text-align: center;
}

.barbox_a {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0px 0px 0px -160px;
    width: 304px;
    height: 24px;
    background-color: black;
}
.per {
    position: absolute;
    top: 10px;
    font-size: 18px;
    left: 50%;
    margin: 1px 0px 0px 150px;
    background-color: #FFFFFF;
}

.bar {
    position: absolute;
    top: 132px;
    left: 50%;
    margin: 0px 0px 0px -158px;
    width: 0px;
    height: 20px;
    background-color: #17a2b8;
}

.blank {
    background-color: white;
    width: 300px;
}

@media (max-width: 1517px) {
    .text_a {
        top: 160px;
    }
    .text_b {
        top: 160px;
    }
    .barbox_a {
        top: 160px;
    }
    .per {
        top: 160px;
    }
    .bar {
        top: 162px;
    }
}

@media (max-width: 943px) {
    .text_a {
        top: 190px;
    }
    .text_b {
        top: 190px;
    }
    .barbox_a {
        top: 190px;
    }
    .per {
        top: 190px;
    }
    .bar {
        top: 192px;
    }
}

@media (max-width: 858px) {
    .text_a {
        display: none;
    }
    .text_b {
        display: none;
    }
}

@media (max-width: 609px) {
    .text_a {
        top: 240px;
    }
    .text_b {
        top: 240px;
    }
    .barbox_a {
        top: 240px;
    }
    .per {
        top: 240px;
    }
    .bar {
        top: 242px;
    }
}

@media (max-width: 505px) {
    .text_a {
        display: none;
    }
    .text_b {
        display: none;
    }
    .barbox_a {
        display: none;
    }
    .per {
        display: none;
    }
    .bar {
        display: none;
    }
}