@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    position: relative;
    
}
h1{
    text-align: center;
    z-index: 2;
    line-height: 2.5em;
    color: white;
}
.bg{
    position: absolute;
    top: -4em;
    left: 0;
    transform: translate(-50,-50%);
    width: 100%;
    max-height: 200px;
    z-index: -1;
}

.container{
    margin-top: 2em;
    font-size: 1.2em;
    padding: 2em;
}

/** table **/
.visible{
  display: table;
}
table{
    width: 80%;
    margin:  0 auto;
    border: solid 2px rgb(90, 90, 90);
    margin-top: 5em;
    display: none;
  }
  h3{
    margin-top: 2em;
    font-weight: normal;
  }
  h3 strong{
    cursor: pointer;
    text-decoration: underline;
  }

  table td{
    max-width: 250px;
    max-height: 250px;
    text-align: center;
  }
  thead{
    position: sticky;
    top: 0;
  }
  
  thead td{
    padding: 1em 2em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #262626;
    color: white;
  }
  .rep_img{
    object-fit: cover;
    height: 250px;
    width: 250px;
    box-shadow: none;
    padding: 1em;
  }
  
  
  tbody td{
    font-size: 1.5em;
  }
  tbody tr:nth-child(odd){
    background-color: transparent;
  }
  
  tbody tr:nth-child(even){
    background-color: rgb(179, 199, 255);
  }
  
  .goodanswer{
    width: 70px;
    height: 70px;
  }
  
@media screen and (max-width : 1100px) {
    .bg{
        top: -1em;
    }
    table{
      width: 95%;
    }
}