@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    padding: 1em;
    position: relative;
    
}
h1{
    text-align: center;
    z-index: 2;
    line-height: 2.5em;
    color: white;
}
.bg{
    position: absolute;
    top: -4em;
    left: 0;
    transform: translate(-50,-50%);
    width: 100%;
    max-height: 200px;
    z-index: -1;
}

.container{
    margin: 180px auto;
    max-width: 1200px;
    padding: 0 1.5em;
   
}

h2{
    color: #2F80ED;
}

.row p, .row ul{
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    margin-left: 2.5em;
}

.row p::before{
    content: '';
    position: absolute;
    top: -15%;
    left: -2em;
    background: #2F80ED;
    width: 4px;
    height: 130%;
}

ul{
    list-style: none;
    margin-left: 2.5em;
}

ul li{
    position: relative;
    margin: 0.5em;
}

ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -1.5em;
    transform: translate(-50%,-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #56CCF2;
}

form h2{
    margin: 1em 0;
}

.wirk span{
    color: #125EC3;
}
.wirk input{
    margin: 1em 0;
    display: block;
    padding: 1em 1em;
}

.wirk-row{
    display: flex;
    align-items: center;
}

.wirk-row p{
    margin-left: 2em;
}

.attention{
    margin: 1em 0 2.5em 0;
}

.attention h3{
    color: #E74C3C;
}
.attention ul li::before{
    background: #E74C3C;
}

#submitForm{
    display: block;
    border: none;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: 7em;
    padding: 1.5em 4em;
    background: linear-gradient(180deg, #56CCF2 -58.51%, rgba(255, 255, 255, 0) 100%), #2F80ED;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submitForm:hover{
    opacity: 0.8;
}

.hidden{
    display: none;
}


.warning{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em 0;
}


.warning p{
    margin-left: 1.5em;
}

@media screen and (max-width : 1100px) {
    .bg{
        top: -1em;
    }
}