@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


body{
    width: 100%;
    height: 100%;
    background-color: #EAF2F9;
}

.instruction strong{
    display: inline-block;
    margin: 1em 0;
}

h1{
    text-align: center;
    line-height: 2.5em;
}
.container{
    padding: 3em;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.exemple{
    margin: 2em 0;
}

h2{
    color: #2F80ED;
    text-decoration: underline;
    font-size: 2em;
}

.exemple img{
    display: block;
    margin: 3em auto;
    width: 80%;
    height: auto;
}

.exemple p{
    line-height: 2em;
}


#btn{
    display: block;
    margin: 3em 0;
    float: right;
    padding: 1em 2em;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(180.54deg, #56CCF2 -77.04%, rgba(255, 255, 255, 0) 99.54%), #2F80ED;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s ease-in-out;
}

#btn:hover{
    opacity: 0.8;
}

