@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
h1{
    text-align: center;
    z-index: 2;
    line-height: 2.5em;
    color: white;
}
.bg{
    position: absolute;
    top: -4em;
    left: 0;
    transform: translate(-50,-50%);
    width: 100%;
    max-height: 200px;
    z-index: -1;
}
body{
    padding: 2em 1em;
}
h2{
    color: #2F80ED;
    display: inline-block;
    margin: 1em 0;
}

.col label{
    cursor: pointer;
    display: block;
    margin: 0.4em 0;
}


.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 4em auto;
}


.hidden{
    display: none;
}

textarea{
    display: block;
    padding: 0.5em 1em;
}

.wirk{
    display: block;
    border : none;
    border: solid 2px #2F80ED;
    border-radius: 5px;
    padding: 1em 0.7em;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 1em;   
}

.hint{
    margin-left: 10em;
    position: relative;
}

.hint::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -2em;
    width: 15px;
    height: 15px;
    background-color: #56CCF2;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}


.submit{
    display: block;
    margin: 3em 0;
    float: right;
    padding: 1em 2em;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(180.54deg, #56CCF2 -77.04%, rgba(255, 255, 255, 0) 99.54%), #2F80ED;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s ease-in-out;
}

.submit:hover{
    opacity: 0.8;
}

.disable{
    pointer-events: none;
    opacity: 0.5;
}



@media screen and (max-width : 1100px) {
    .bg{
        top: -1em;
    }
}