@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background: #EAF2F9;
}
img{
    width: 73%;
    height: auto;
}


#ancienneCertitude{
    border: 2.5px dashed #000000;
}

h1{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}

.precision .active, .precision .certitude_oiseaux, .elargir_name{
    background: linear-gradient(180deg, #A579DC -33.4%, rgba(255, 255, 255, 0) 100%), #9B25B9;
}
.input_wrapper{
    margin: 0.5em 0;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.8);
    padding: 1em 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}
.input_wrapper label{
    margin-left: 1em;
    
}

.certitude_wrapper label{
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 0.3em;
    overflow-y: scroll;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.certitude_wrapper label::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.precision .active_certitude {
    background: #EDAFEE;
}
.active_certitude{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    background: rgba(240, 215, 176, 0.79);
    border: 2px dashed #000000;
}

.certitude_wrapper:nth-child(odd){
    background: #DADADA;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.certitude_wrapper:nth-child(even){
    background: white;
}


h2{
    text-align: left;
    margin: 1.5em 0;
}

.certitude_wrapper{
    display: flex;
    flex-direction: column;
    height: 350px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.certitude_wrapper input{
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image_counter{
    font-size: 2em;
}

#btn{
    pointer-events: all;
    cursor: pointer;
    font-size: 1.5em;
    padding: 1em 2.5em;
    border: none;
    background: linear-gradient(180.81deg, #56CCF2 -49.67%, rgba(255, 255, 255, 0) 99.3%), #2F80ED;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

.attention{
    color: #E74C3C;
}


#btn:hover{
    opacity: 0.8;
}

#btn.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.active{
    background: linear-gradient(180deg, #F4C173 -66.92%, rgba(255, 255, 255, 0) 100%), #EB8323;    color: white;
    font-weight: bold;
}

input[type="checkbox"]{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}


.certitude_container{
    min-height: 150px;
    margin-bottom: 2.5em;
}

.image_counter,#btn,#progressBar{
    display: block;
}

.bottom{
    margin: 0 auto;
    margin-bottom: 1em;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.link_ins{
    font-size: 1.2em;
    color: #2F80ED;
    font-weight: bold;
}

.instruction img{
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    fill: #2F80ED;
}



.certitude_oiseaux{
    position: relative;
    background: linear-gradient(180deg, #F4C173 -66.92%, rgba(255, 255, 255, 0) 100%), #EB8323;    color: white;
    font-weight: bold;
    padding: 1em 0.1em;
    border-radius: 5px;
    margin-top: 1em;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    font-size: 0.9em;
}

.certitude_oiseaux::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: 'Supprimer ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translateY(100%);
    background-color: #E74C3C;
    transition: all 0.3s ease;
}
.overlay{
    pointer-events: none;
    display: none;
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.certitude_oiseaux:hover::before{
    transform: translateY(0%);
}



/** modal */
.modal{
    z-index: 10;
    background-color: white;
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    display: none;
}
.modal h2{
    font-size: 2.5em;
    text-align: left;
    
}
.modal p{
    font-size: 1.5em;
}

.modalBtn{
    background-color: #2F80ED;
    color: white;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.8em 2.5em;
    cursor: pointer;
}
.modal label{
    font-size: 1.2em;
}
.modal input{
    margin-right: 1.5em;
}
/* precision */


.main{
    position: relative;
    justify-content: flex-start;
}
.inputs{
    height: 100%;
    left: 75%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* elargir */
.inputs_elargir{
    margin-left: 1em;
    position: relative;
}

.elargir_cant{
    margin-top: 3em;
}

.elargir_name{
    pointer-events: none;
}

.cant_destroy.certitude_oiseaux::before{
    display: none;
}
@media screen and (max-width : 1200px) {
    .image_counter{
        display: none;
    }
    .bottom{
        position: relative;
        width: 95%;
        margin-bottom: 1em;
    }
    .certitude_container{
        margin: 0 auto;
        width: 95%;
        font-size: 0.9em;
    }

    .certitude_wrapper label{
        width: auto;
    }
}

