<h1>Welcome to your own project</h1>

<p>
    In HEADWORK, anyone can propose a new project and benefit from the crowd. To create a new activity, go the
    the <a href="index.php?mode=workflowdesign">Embark</a> page.
</p>
