
 <p class="card-text">
	In Headwork, a task can be as simple as a text line.
	<cite>
		Please enter the letter A.
	</cite>
	Observe that answers can be controled (try to enter a B for example).
</p>

