<h1>Welcome to the Wirk project!</h1>

<p>Wirk is a private company that offers crowdsourcing services, as a partner of the HEADWORK ANR project.
    A community of 50,000 freelance participants are available to answer when AI is stuck!
</p>
<p>This demo projects allows to illustrate how Wirk users and Wirk APIs can be called within HEADWORK.</p>
