<center>
<h2>Formulaire avec lecture du son par la balise audio</h2>
<form name="noteForm">
   <fieldset >
       <legend>Quel son entendez-vous ?</legend>
            <audio controls>
                <source src="https://lasonotheque.org/UPLOAD/mp3/1891.mp3?v=d" type="audio/mp3">
                    <!-- format supported : wav, mp3 and ogg -->
                    Your browser does not support the audio tag.
            </audio>
            <br>
           <input type="radio" name="sound" id="chien" value="chien"/>
           <label for="chien">chien</label>
           <input type="radio" name="sound" id="chat" value="chat"/>
           <label for="chat">chat</label>
           <input type="radio" name="sound" id="oiseau" value="oiseau"/>
           <label for="oiseau">oiseau</label>
           <input type="radio" name="sound" id="autre" value="autre"/>
           <label for="autre">aucun de ceux proposés</label>
   </fieldset>
</form>
<button id="submit">Submit</button>
</center>
<h2>Récupération des données du formulaire</h2>
<div id="json">
    <span></span>
</div>
<script type="text/javascript">
    let btnSubmit = document.querySelector("#submit");
    btnSubmit.addEventListener("click", () => {
    //check si le formulaire a été correctement rempli
        let fd = new FormData();
        let sound = document.querySelectorAll("input[name = 'sound']");
        for(i=0; i<sound.length; i++){
            if(sound[i].checked){
                soundHear = sound[i].value;
            }
        }
        fd.append("soundHear", soundHear);
        let JSONString = JSON.stringify(Array.from(fd));
        document.querySelector("#json span").textContent = JSONString;
    })
</script>