<center>
<h2>Formulaire</h2>
<form name="noteForm">
 
   <fieldset >
       <legend>Write your 10 todos you find the most important in your list (one per line) :</legend>
       <textarea name="commentaire" id="commentaire" cols="30" rows="10"></textarea>
   </fieldset>

</form>

<button>Submit</button>

</center>

<h2>Récupération des données du formulaire</h2>

<div id="json">
    <span></span>
</div>

<script type="text/javascript">

    escape = function (str) {
  return str
    .replace(/[\\]/g, '\\\\')
    .replace(/[\"]/g, '\\\"')
    .replace(/[\/]/g, '\\/')
    .replace(/[\b]/g, '\\b')
    .replace(/[\f]/g, '\\f')
    .replace(/[\n]/g, '\\n')
    .replace(/[\r]/g, '\\r')
    .replace(/[\t]/g, '\\t');
};
    //Le bouton qui va déclencher le script js
    let btnSubmit = document.querySelector("button");

    btnSubmit.addEventListener("click", () => {
    //check si le formulaire a été correctement rempli

        //on crée un formData
        let fd = new FormData();

        //on rempli notre FormData
        fd.append("Commentaire", document.querySelector("#commentaire").value);

        
        console.log(Array.from(fd));

        let JSONString = JSON.stringify(Array.from(fd));

        console.log(JSONString);

        let EscapedJSONString = escape(JSONString);
        console.log(EscapedJSONString);
        document.querySelector("#json span").textContent = JSON.stringify(Array.from(fd));;

    })
</script>