
 <p class="card-text">
Thanks. In the meantime, four other participants have given their opinion and level of certainty. Here is the result:
</p>
<p>
<center>
<table border>
	<tr><td>LeopardAddict</td><td>1</td><td>Slighlty uncertain</td></tr>
	<tr><td>EverestForEver</td><td>1</td><td>Totally uncertain</td></tr>
	<tr><td>Anonimal5</td><td>2</td><td>Certain</td></tr>
	<tr><td>Sagarman</td><td>1</td><td>Uncertain</td></tr>
</table>
</center>
</p>
<p>
With a basic MAJORITY VOTING decision procedure, the result would have been 1. But when weighting the opinion with the level of certainty (computations hidden for the sake of simplicity), the better decision in 2. You where 
TAG1.
</p>
<p>
<div class="alert alert-success" role="alert">
  Skill  ‘‘Uncertain answers‘‘ granted !
</div>
</p>