<h1>Bienvenue dans le projet ReadMyWiki !</h1>

<p class="text-justify">
    Dans ce projet vous allez pouvoir lire une page Wikipedia et enregistrer votre voix. Une fois l'enregistrement effectué,
    pous pourrez indiquer quel enregistrement vous plaît le plus en votant parmi une liste d'enregistrements audio.
</p>
