<center>
<h2>Formulaire</h2>
<form name="ClassifyForm">
 
   <fieldset >
       <legend>Say if the following todos are professional or personal :</legend>
        <table>
            <tr>
                <th></th>
                <th>
                    Professional            
                </th>
                <th>
                    Personal
                </th>
            </tr>
            <tr>
                <td>
                    First Todo
                </td>
                <td>
                    <center>
                    <input type="radio" name="category1" id="1" value="professional"/>
                    <label for="1"></label>
                    </center>
                </td>
                <td>
                    <center>
                    <input type="radio" name="category1" id="2" value="personal"/>
                    <label for="2"></label>
                    <center>
                </td>
            </tr>
            <tr>
                <td>
                    Second Todo
                </td>
                <td>
                    <center>
                    <input type="radio" name="category2" id="1" value="professional"/>
                    <label for="1"></label>
                    <center>
                </td>
                <td>
                    <center>
                    <input type="radio" name="category2" id="2" value="personal"/>
                    <label for="2"></label>
                    <center>
                </td>
            </tr>
            <tr>
                <td>
                    Third Todo
                </td>
                <td>
                    <center>
                    <input type="radio" name="category3" id="1" value="professional"/>
                    <label for="1"></label>
                    <center>
                </td>
                <td>
                    <center>
                    <input type="radio" name="category3" id="2" value="personal"/>
                    <label for="2"></label>
                    <center>
                </td>
            </tr>
        </table>
   </fieldset>

</form>

<button>Submit</button>

</center>

<h2>Récupération des données du formulaire</h2>

<div id="json">
    <span></span>
</div>

<script type="text/javascript">

 /*   escape = function (str) {
  return str
    .replace(/[\\]/g, '\\\\')
    .replace(/[\"]/g, '\\\"')
    .replace(/[\/]/g, '\\/')
    .replace(/[\b]/g, '\\b')
    .replace(/[\f]/g, '\\f')
    .replace(/[\n]/g, '\\n')
    .replace(/[\r]/g, '\\r')
    .replace(/[\t]/g, '\\t');
};*/

    //Le bouton qui va déclencher le script js
    let btnSubmit = document.querySelector("button");

    btnSubmit.addEventListener("click", () => {
    //check si le formulaire a été correctement rempli

        //on crée un formData
        let fd = new FormData();

        //on réccupère les données du formulaire
        let category1 = document.querySelectorAll("input[name = 'category1']");
        for(i=0; i<category1.length; i++){
            if(category1[i].checked){
                Classement1 = category1[i].value;
            }
        }
        let category2 = document.querySelectorAll("input[name = 'category2']");
        for(i=0; i<category2.length; i++){
            if(category2[i].checked){
                Classement2 = category2[i].value;
            }
        }
        let category3 = document.querySelectorAll("input[name = 'category3']");
        for(i=0; i<category3.length; i++){
            if(category3[i].checked){
                Classement3 = category3[i].value;
            }
        }

        //on rempli notre FormData
        fd.append("Classement1", Classement1);
        fd.append("Classement2", Classement2);
        fd.append("Classement3", Classement3);

        
        console.log(Array.from(fd));

        let JSONString = JSON.stringify(Array.from(fd));

        console.log(JSONString);

        //let EscapedJSONString = escape(JSONString);
       // console.log(EscapedJSONString);

        document.querySelector("#json span").textContent = JSONString;

    })
</script>