<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/instruction.css">
    <title>Tâche à effectuer</title>
</head>

<body>
    <h1>Tâche à effectuer</h1>
    <div class="container">

    
    <div class="instruction">
        <p>Dans les pages suivantes, des photos d'oiseaux vous seront présentées.
            Il vous sera demandé pour chacune d’entre elles de retrouver le nom de l’espèce parmi 10 propositions.
            Si vous n’êtes pas sur de votre choix, vous avez la possibilité de sélectionner plusieurs espèces, 5 au
            maximum.
            <br>
            <strong>
                Tous les noms d'oiseaux qui vous seront proposés sont bien réels. Au cours de ce questionnaire vous
                serez confronté à des situations d’indécision plus ou moins importantes, que nous vous demandons
                d’évaluer avec sincérité.
            </strong>
            <br>
            Le temps de chargement de l'image peut être plus où moins long suivant votre connexion internet.
            Veuillez attendre que l'image s'affiche totalement avant de répondre.
            <br>
            En fin d'expérience il vous sera possible de consulter les bonnes réponses des photos.
            <br>
            Vous ne devez pas avoir une autre fenêtre de votre navigateur ouverte.
            <br>
            Vous ne devez pas vous documenter sur les oiseaux pendant l'expérience.
        </p>
        <div class="attention">
            <strong>Le sérieux et la cohérence de vos réponses sont nécessaires pour que votre travail soit rémunéré. </strong>
        </div>
    </div>
    <div class="exemple ">
        <h2>Exemple 1 : </h2>
        <p>Dans le cas où la réponse vous paraît évidente ne cochez qu’un seul nom avec une certitude élevée comme dans l’exemple ci-dessous.</p>
        <img src="images/question_exemple1.png" >
    </div>
    <div class="exemple ">
        <h2>Exemple 2 : </h2>
        <p>Si vous hésitez entre plusieurs réponses, mais que vous êtes certains que la bonne réponse se trouve dans l’ensemble à sélectionner, cochez une certitude élevée comme dans l’exemple suivant.</p>
        <img src="images/question_exemple2.png" >
    </div>
    <div class="exemple ">
        <h2>Exemple 3 : </h2>
        <p>Si vous n’êtes pas convaincu que la bonne réponse est bien dans l’ensemble des espèces que vous avez sélectionnées, indiquez que vous n’êtes pas certain de votre réponse.</p>
        <img src="images/question_exemple3.png" >
    </div>
    <form action="startXP" method="post" onsubmit="checkForm(this)">
        <input type="hidden"  name="user" value="<%- user %>" >
        <input type="submit" name="Continuer" value="Continuer" id="btn">
    </form>
</div>
        
        
    </div>
    <script>
        function checkForm(form){
            form.Continuer.disabled = true
            return true
        }
    </script>
</body>

</html>