<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="./style/xp.css">
</head>
<body>
    <form action="xp" method="post">
        <input type="hidden" name="user" value="<%- user %>">
        <input type="hidden" name="currenttrial" value="<%- currenttrial %>">
        <input type="hidden" id="aHistory"  name="aHistory" value="">
        <input type="hidden"id="cHistory" name="cHistory" value="">
  
    <div class="container">
        <div class="row">
            <h1>Wich species does this bird beliong ?</h1>
            <div class="instruction">
                <img src="images/finish.svg" alt="">
                <a href="instruction.html" target="_blank" class="link_ins">Instruction reminder</a>
            </div>
        </div>
        
        <div class="row">
            <img src="./images/xp/10.jpg" width="700" height="450">
            <div class="list" id="list">
               <!-- <div class="input_wrapper">
                    <input type="checkbox" name="answer" id="" value="Blue tit">
                    <label>Blue tit</label>
	    					</div>
	    					<div class="input_wrapper">
	    						  <input type="checkbox" name="answer" id=""value="Great tit">
	    						  <label>Great tit</label>
	    					</div>
	    					<div class="input_wrapper">
	    						  <input type="checkbox" name="answer" id=""value="Coal tit">
	    						  <label>Coal tit</label>
	    					</div>
	    					<div class="input_wrapper">
	    						  <input type="checkbox" name="answer" id=""value="European robin">
	    						  <label>European robin</label>
	    					</div>
	    					<div class="input_wrapper">
	    						  <input type="checkbox" name="answer" id=""value="omega">
	    						  <label>I don't know</label>
	    					</div>
	    					<div class="input_wrapper">
	    						  <input type="checkbox" name="answer" id=""value="emptyset">
	    						  <label>The good answer is not proposed</label>
	    					</div> -->
            </div>
        </div>
        <div class="certitude_container">
            <h2>Wath is your certainty level of your answer ?</h2>
            <div class="grid">
                <div class="certitude_wrapper">
                    <label>Totaly uncertain 
                    <input type="checkbox" name="certitude" value="1">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label >Incertain
                    <input type="checkbox" name="certitude"  value="2">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label >Plutôt Incertain
                    <input type="checkbox" name="certitude"  value="3">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label>Neutre
                    <input type="checkbox" name="certitude"  value="4">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label >Plutôt certain
                    <input type="checkbox" name="certitude"  value="5">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label>Certain
                    <input type="checkbox" name="certitude"  value="6">
                    </label>
                </div>
                <div class="certitude_wrapper">
                    <label>Totalement certain
                    <input type="checkbox" name="certitude"  value="7">
                  </label>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <input type="submit" class="disabled" value="Valider" id="btn"> 
    </div>
    
</form>

    <script src="js/app.js"></script>
</body>
</html>
