<h1>Bienvenue dans le projet HEADWORK !</h1>

<p>HEADWORK est une plateforme de crowdsourcing pour tout type de projet participatif. Dans la suite vous pourrez découvrir les capacité de la plateforme
    HEADWORK. Vous pouvez découvrir d'autres projets dans le menu <b>Projets</b>. C'est parti !
</p>
