<h1>Welcome to the HEADWORK project!</h1>

<p>HEADWORK is a crowdsourcing platform for participative projects of any kind. You can select your project of interest
    in the <b>Projects</b> menu. Here you'll find tutorial activities to discover what's inside HEADWORK and its
    academic foundations. Enjoy!
</p>
