<h1>Crédits</h1>

<h2>Développement principal d'HEADWORK</h2>

<ul class='creditlist'>


  <li><a href="https://www.linkedin.com/in/constance-thierry?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bdu%2BaDVDURjSEroXOwIhqrQ%3D%3D">Constance Thierry(Irisa) : incertitude et fonctions de croyances</a> </li>

  <li><a href="https://www-druid.irisa.fr/david-gross-amblard/"> David Gross-Amblard (Irisa) : moteur d'évaluation, modèle de compétences, plateforme, <strong>référent</strong> </a></li>

  <li><a href="https://www.linkedin.com/in/iandry-rakotoniaina-021595113?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BilPP%2BzyjS9q%2FLwrMboWgCQ%3D%3D">Iandry Rakotoniaina (Spipoll / MNHN) : moteur d'évaluation, interconnexion Headwork/Spipoll</a></li>

  <li><a href="https://www.linkedin.com/in/leo-jacoboni?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BWVTWFrUkQ%2FKYVO73XjVKNA%3D%3D">Leo Jacoboni (FouleFactory / Wirk) : interconnexion Headwork/Wirk</a></li>

  <li><a href="http://marion.tommasi.free.fr"> Marion Tommasi (Inria Lille) : moteur d'évaluation, crowd artifact et langage CrowdFlow</a></li>

  <li><a href="https://www.linkedin.com/in/rituraj-singh-786a5872?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbSuv3HxzRX2xICHGEV%2BB2g%3D%3D"> Rituraj Singh (Irisa / Inria Rennes) : placement des tâches, crowsourcing complexe et vérification</a></li>

</ul>

  <h2>Stagiaires HEADWORK</h2>
<ul class='creditlist'>
  <li><a href="https://www.linkedin.com/in/moussa-bamba-141a32171?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2BLxvM%2BLmR2yCzz6Oj7USvg%3D%3D"> Moussa Bamba (Irisa, ISTIC, Rennes 1) : visualisation d'artéfacts</a></li>

  <li><a href="https://www.linkedin.com/in/adrien-wacquet-321729185?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3MisevnYRhyUXreTwAzlzA%3D%3D"> Adrien Wacquet (Irisa, ISTIC, Rennes 1) : interface utilisateur des tâches, chat, retours, forum, Ajax</a></li>

  <li><a href="https://www.linkedin.com/in/ange-armand-n-gatta-958a80151/"> Ange Armand Virgile N'Gatta (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href=""> Quentin Sarrazin (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="https://www.linkedin.com/in/pierredelaunay35">Pierre Delaunay (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="https://www.linkedin.com/in/karimamouchal/"> Karim Amouchal (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="https://fr.linkedin.com/in/ma%C3%ABlla-gheraia-628a5314a"> Maella Gheraia (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="www.linkedin.com/in/sidy-kone-a05394174">Sidy Mohamed Aziz Kone (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="https://www.linkedin.com/in/yannickzohou/">Yannick Stanley Gben Zohou (ISTIC) : visualisation d'artéfacts, Blockly, visualisation et animation de tâches</a> </li>

  <li><a href="https://www.linkedin.com/in/alexis-vall%C3%A9e-616788151/">Alexis Vallée (Irisa, ISTIC, Rennes 1): enregistrement audio, interface utilisateur, plateforme</a> </li>

</ul>

  <h2>Dev : le film (du début à 06-2021)</h2>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iWMyBqHh9do" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<h2>Propulsé par</h2>
<ul class='creditlist'>
  <li><a href="https://en.wikipedia.org/wiki/First-order_logic">La logique du premier ordre</a></li>
  <li>Tuple artifacts
  <li>Bootstrap
  <li>Apache
  <li>PHP
  <li>MySQL
  <li>Python
  <li>Java (verification)</li>
  <li>Javascript (GUI, design de tâches)</li>
  <li><a href="https://js.cytoscape.org/">Cytoscape.js</a></li>
  <li><a href="https://leafletjs.com/">Leaflet</a></li>
</ul>
