<h1>Credits</h1>

<h2>HEADWORK core developpers</h2>

<ul class='creditlist'>


  <li><a href="https://www.linkedin.com/in/constance-thierry?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bdu%2BaDVDURjSEroXOwIhqrQ%3D%3D">Constance Thierry(Irisa): uncertainty and belief functions in crowdsourcing </a> </li> 

  <li><a href="https://www-druid.irisa.fr/david-gross-amblard/"> David Gross-Amblard (Irisa): core engine, skill model, platform, <strong>main contact</strong> </a></li>

  <li><a href="https://www.linkedin.com/in/iandry-rakotoniaina-021595113?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BilPP%2BzyjS9q%2FLwrMboWgCQ%3D%3D">Iandry Rakotoniaina (Spipoll / MNHN): core engine, Headwork/Spipoll connection </a></li>

  <li><a href="https://www.linkedin.com/in/leo-jacoboni?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BWVTWFrUkQ%2FKYVO73XjVKNA%3D%3D">Leo Jacoboni (FouleFactory / Wirk): Headwork/Wirk connection</a></li>


  <li><a href="http://marion.tommasi.free.fr"> Marion Tommasi (Inria Lille): core engine, crowd artifact and CrowdFlow language</a></li>

  <li><a href="https://www.linkedin.com/in/rituraj-singh-786a5872?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbSuv3HxzRX2xICHGEV%2BB2g%3D%3D"> Rituraj Singh (Irisa / Inria Rennes): task mapping, complex crowdsourcing model and verification</a></li>

</ul>

  <h2>HEADWORK interns</h2>
<ul class='creditlist'>
  <li><a href="https://www.linkedin.com/in/moussa-bamba-141a32171?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2BLxvM%2BLmR2yCzz6Oj7USvg%3D%3D"> Moussa Bamba (Irisa, ISTIC, Rennes 1): artifact vizualisation</a></li>

  <li><a href="https://www.linkedin.com/in/adrien-wacquet-321729185?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3MisevnYRhyUXreTwAzlzA%3D%3D"> Adrien Wacquet (Irisa, ISTIC, Rennes 1): task user interface, chat, feedbacks, forum, Ajax</a></li>

  <li><a href="https://www.linkedin.com/in/ange-armand-n-gatta-958a80151/"> Ange Armand Virgile N'Gatta (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href=""> Quentin Sarrazin (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="https://www.linkedin.com/in/pierredelaunay35">Pierre Delaunay (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="https://www.linkedin.com/in/karimamouchal/"> Karim Amouchal (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="https://fr.linkedin.com/in/ma%C3%ABlla-gheraia-628a5314a"> Maella Gheraia (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="www.linkedin.com/in/sidy-kone-a05394174">Sidy Mohamed Aziz Kone (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="https://www.linkedin.com/in/yannickzohou/">Yannick Stanley Gben Zohou (ISTIC): automaton viewer, Blockly & visualization and animation of tasks  </a> </li>

  <li><a href="https://www.linkedin.com/in/alexis-vall%C3%A9e-616788151/">Alexis Vallée (Irisa, ISTIC, Rennes 1): sound recording, user interface, platform</a> </li>

</ul>

  <h2>Dev Movie (from start to 06-2021)</h2>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iWMyBqHh9do" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<h2>Powered by</h2>
<ul class='creditlist'>
  <li><a href="https://en.wikipedia.org/wiki/First-order_logic">First-order logic</a></li>
  <li>Tuple artifacts
  <li>Bootstrap
  <li>Apache
  <li>PHP
  <li>MySQL
  <li>Python
  <li>Java (workflow verification)</li>
  <li>Javascript (GUI, custom task design)</li>
  <li><a href="https://js.cytoscape.org/">Cytoscape.js</a></li>
  <li><a href="https://leafletjs.com/">Leaflet</a></li>
</ul>
