<table>
<tr>
	<td><img width="300px" src="images/piqsels.com-id-jrrku.jpg"/></td>
	<td>
		<h1>Contribute</h1>
		In HEADWORK, you can contribute to academic projects. Want to identify insects for global warming monitoring ? See our SPIPOLL2HW project !
	</td>
</tr>
<tr>
	<td><img width="300px" src="images/piqsels.com-id-jrrbr.jpg"/></td>
	<td>
		<h1>Progress</h1>
		In HEADWORK, you can specify your profile among our huge collections of skills. Some tasks help you assessing these skills.
	</td>
</tr>
<tr>
	<td><img width="300px" src="images/piqsels.com-id-jrrna.jpg"/></td>
	<td>
		<h1>Embark others</h1>
		In HEADWORK, you can recruit others to participate into you own tasks !
	</td>
</tr>		
</table>

  <p/>
<center>HEADWORK is crowdsourced by
<img height="50pt" src="images/logo-anr-768x795.jpg"/>
<img height="50pt" src="images/logo-Irisa-couleur-768x193.png"/>
<img height="50pt" src="images/logo-Universite_Rennes_1.png"/>
<!-- <img height="50pt" src="../images/logo-druid-noir-300x257.png"/> -->
<img height="50pt" src="images/logoPoleIR.png"/>
<img height="50pt" src="https://www.cristal.univ-lille.fr/logos/logoCRIStAL.svg"/>
<img height="50pt" src="images/inr_logo_rouge.png"/>
<br/>
<img height="50pt" src="https://cdn.200.foulefactory.com/wp-content/uploads/2016/07/05053132/logo_ff_orange.svg"/>
<img height="50pt" src="https://www.mnhn.fr/sites/mnhn.fr/files/museum-national-d-histoire-naturelle_2.png"/>
<img height="50pt" src="images/spipoll.jpg"/>
<img height="50pt" src="http://www.ens.fr/sites/default/files/inline-images/logo.jpg"/>
</center>
</div>
</ul>
</p>
