<p class="card-text" style="color:black; text-align: justify;">L’utilisateur est informé que lors de ses visites sur le site un cookie peut s’installer automatiquement sur son logiciel de navigation.
Le cookie est un bloc de données qui ne permet pas d’identifier les utilisateurs mais sert à enregistrer les informations relatives à la navigation de celui-ci sur le site. Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante : <a href="https://www.cnil.fr/">www.cnil.fr</a>.
L’utilisateur dispose de l’ensemble des droits susvisés s’agissant des données à caractère personnel communiquées par le biais des cookies dans les conditions indiquées ci-dessus. Le site HEADWORK n’utilise pas de cookies pour la publicité, les cookies utilisés sur le site servent uniquement à vous identifier, et à se souvenir de vos préférences.
Pour plus d’informations sur les cookies, vous pouvez consulter la page de la CNIL dédiée aux cookies.
</p>
<p class="card-text" style="color:black; text-align: justify;">
Le projet HEADWORK et ses partenaires autorisent tout visiteur selon les présentes conditions et les règles d’usage sur l’Internet, à consulter gratuitement ce site, à simple titre d’information, uniquement pour son usage personnel et privé et à l’exclusion de toutes fins commerciales.
</p>

<p class="card-text" style="color:black; text-align: justify;">
Les informations fournies par l’utilisateur sont accessibles par les services en charge de HEADWORK. Elles ne sont pas diffusées à des tiers.
Les données sont conservées sans limite de temps, sauf en cas de demande de désinscription de l’utilisateur.
</p>

<p class="card-text" style="color:black; text-align: justify;">
Les utilisateurs avec un compte, utilisant le site s’engagent à détenir les droits de propriété intellectuelle de tous les éléments et contenus téléversés librement sur le site HEADWORK : informations, textes, publications, photographies, vidéos, photographies, dessins et/ou images.
En téléversant ces contenus sur HEADWORK, les utilisateurs s’engagent également à en céder tous les droits patrimoniaux (reproduction utilisation adaptation traduction) gratuitement et non exclusif au projet HEADWORK pour tout usage non-commercial de promotion des Sciences Participatives, d’études et d’analyses.
</p>
