<style>
    p { margin-left: 50px;
        margin-right: 50px;
        margin-bottom:30px;
    }
</style>

<H1>KartuVerbs</H1>
<p/>
<img width="100%" src="./projects/KartuVerbs/dancers.png"/>
<p/>
<p/>
<img width="100%" src="./projects/KartuVerbs/footer.png"/>
<p/>
<p>We propose Kartu-Verbs, a Semantic Web base of inflected Georgian verb forms. Help us with the Verb lemma hunt below!
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#readMore" aria-expanded="false" aria-controls="collapseExample">
    Read more
</button>
</p>
<p class="card-text">
    <b>Acknowledgment</b> This research PHDF-22-1840 is supported by Shota Rustaveli National Science Foundation of Georgia (SRNSFG) and by ANR Project SmartFCA, ANR-21-CE23-0023.
</p>

    <div class="collapse" id="readMore">
        <div class="card card-body">
            <p class="card-text">

                The Georgian language has a complex verbal system, both agglutinative and inflectional, with many irregularities. Inflected forms of a given verb can differ greatly from one another and it is still a controversial issue to determine which lemmas should represent a verb in dictionaries. Verb tables help people to track lemmas starting from inflected forms but these tables are tedious and error-prone to browse.

                We propose Kartu-Verbs, a Semantic Web base of inflected Georgian verb forms. The Semantic Web tool, Sparklis, can retrieve information from their facets, it also allows users to smoothly refine their query by giving them suggestions. For a given verb, all its inflected forms are present. Knowledge can easily be traversed in all directions: from Georgian to French and English; from an inflected form to a masdar (a verbal noun, the form that comes closest to an infinitive), and conversely from a masdar to any inflected form; from component(s) to forms and from a form to its components. Users can easily retrieve the lemmas that are relevant to access their preferred dictionaries. Kartu-Verbs can be seen as a front-end to any Georgian dictionary, thus bypassing the lemmatization issues.

                Our tool can be seen as a companion of the series of “Biliki” books by Nana Shavtvaladze (Biliki, Georgian Language For English Speakers), a nice support for English speakers to learn Georgian.

                Note that we use a transliteration in Latin characters in the system to ease non-native Georgian speakers’s reading. The transliteration is currently “French“ oriented for historical reasons. We are planning to add more transliterations.
            </p>
            <h2>Contact</h2>

            <p class="card-text">

            <ul>
                <li>Mireille Ducassé, mireille.ducasse@irisa.fr
                <li>Archil Elizbarashvili, archil.elizbarashvili@tsu.ge
            </ul>


            </p>

        </div>
        <img width="100%" src="./projects/KartuVerbs/letters.png"/>

    </div>
    <p/>
<p/>


</p>

