<style>
    p { margin-left: 50px;
        margin-right: 50px;
        margin-bottom:30px;
    }
</style>

<div class="overflow-scroll">

<H1>KartuVerbs</H1>
<p/>
<img width="100%" src="./projects/KartuVerbs/dancers.png"/>
<p/>
<h2>Description</h2>

<p class="card-text">

    	Projet d'annotation sémantique de la langue Géorgienne.

</p>

<p/>
<img width="100%" src="./projects/KartuVerbs/letters.png"/>
<p/>

<h2>Contact</h2>

<p class="card-text">

<ul>
    <li>Mireille Ducassé, mireille.ducasse@irisa.fr
    <li>Archil Elizbarashvili, archil.elizbarashvili@tsu.ge
</ul>

<p/>
<img width="100%" src="./projects/KartuVerbs/footer.png"/>
<p/>

</p>
</div>
