<style>
    p { margin-left: 50px;
        margin-right: 50px;
        margin-bottom:30px;
    }
</style>

<H1>KartuVerbs</H1>
<p/>
<img width="100%" src="./projects/KartuVerbs/dancers.png"/>
<p/>
<p/>
<img width="100%" src="./projects/KartuVerbs/footer.png"/>
<p/>
<p>წარმოგიდგენთ KARTUVERBS-ს, ქართული ზმნების გაუღლები ფორმების სემანტიკურ ვებ ბაზას. შეიტანეთ თქვენი წვლილი ზმნის ლემის მოსაძებნაში, ქვემოთ!
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#readMore" aria-expanded="false" aria-controls="collapseExample">
    მეტი
</button>
</p>
<p class="card-text">
    <b>მადლიერება</b> ეს კვლევა მხარდაჭერილია შემდეგი პროეტებით: შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის პროექტი PHDF-22-1840 და ANR Project SmartFCA, ANR-21-CE23-0023.
</p>

    <div class="collapse" id="readMore">
        <div class="card card-body">
            <p class="card-text">
	
				უცხო სიტყვის ძიება ლექსიკონის ყველაზე ხშირი გამოყენებაა. ისეთი ენებისთვის, რომლებიც, როგორც  აგლუტინაციური, ისე ფლექციურია, მაგალითად ქართული, ეს შეიძლება საკმაოდ რთული იყოს, რადგან ზმნის ნაუღლები ფორმა შეიძლება ძალიან განსხვავდებოდეს ლექსიკონში გამოყენებული ლემებისგან. გარდა ამისა, ქართველ ლექსიკოგრაფებს შორის არ არსებობს საბოლოო კონსენსუსი, თუ რას უნდა წარმოადგენდეს ზმნის ლემა ლექსიკონებში. ეს კიდევ უფრო ართულებს ლექსიკონებთან მუშაობას.
				
				წარმოგიდგენთ KARTUVERBS-ს, რომელიც არის ქართული ზმნების გაუღლები ფორმების ბაზა და რომელზე წვდომაც შესაძლებელია ლოგიკური საინფორმაციო, სემანტიკური ვებ სისტემით Sparklis. Sparklis-ის მეშვეობით მომხმარებელს შეუძლია მოიძიოს ნაუღლები ზმნის სხვადასხვა მამახასიათებელიდან მისი ლემა და პირიქით. Kartu-Verbs შესაძლებელია გამოყენებულ იქნას როგორც ნებისმიერი ქართული ლექსიკონის front-end ინტერფეისი.
				
				ჩვენ მიერ შექმნილი სისტემა შეიძლება ჩაითვალოს ნანა შავთვალაძის წიგნების სერიის - „ბილიკი“-ს თანმხლებ ხელსაწყოდ (ბილიკი, ქართული ენა ინგლისურენოვანებისთვის), რომელიც ეხმარება ინგლისურენოვან მომხმარებლებს ქართულის ენის შესწავლაში.
				
				გაითვალისწინეთ, რომ ჩვენ ვიყენებთ ტრანსლიტერაციას ლათინური ასოებით, რათა გავუმარტივოთ კითხვა არაქართულენოვან მომხმარებლებს. ამჟამად ვიყენებთ „ფრანგული“ ტრანსლიტერაციას ისტორიული მიზეზებიდან გამომდინარე. ვგეგმავთ სხვა ტრანსლიტერაციის დამატებას.
				
            </p>
            <h2>Contact</h2>

            <p class="card-text">

            <ul>
                <li>მირეი დიკასე, mireille.ducasse@irisa.fr
                <li>არჩილ ელიზბარაშვილი, archil.elizbarashvili@tsu.ge
            </ul>


            </p>

        </div>
        <img width="100%" src="./projects/KartuVerbs/letters.png"/>

    </div>
    <p/>
<p/>


</p>

