
fieldset {
  border: 2px solid #222;
  padding: 10px;
  display: inline-table;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #8e0726;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  color: #f8f8f9;
  flex-wrap: nowrap;
  font-size: 30px;
  height: 9vh;
  justify-content: space-between;
  position: relative;
}

footer {
  margin-top: auto;
}
/*
footer {
  background-color: #8e0726;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;

  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
} */

.Footer_StyledContainer__ErgED {
  background-color: #8e0726;
  height: 8vh;
  width: 100%;
}

.Footer_StyledWrapper__4UI4H {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.Footer_container__y8nti {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.Footer_logosContainer__YTdVR {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 10px;
  width: 40vw;
}

legend {
  /* background-color: #000; */
  /* color: #fff; */
  padding: 3px 6px;
  float: none;
  width: fit-content;
}

div.rendered button {
  padding: 10px 10px;
  margin: 10px 10px 10px 0px;
}

th, td {
    padding: 10px;
}

table, th, td {
    /*border: 1px solid black;*/
    border: 0px solid #888;
    border-collapse: collapse;
  }

.nav-link {
  font-size: large;
}

.content {
    padding: 7rem 0;
}

/* .box {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  } */

ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

li {
  color: #d7d7d7d4;
  cursor: pointer;
  font-size: 12px;
  margin-right: 15px;
}




.container-contact100 {
  width: 100%;
  min-height: 83vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-contact100 {
  /* width: 1120px; */
  width: 60vw;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.contact100-form {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline-block;
  flex-wrap: wrap;
  /* padding: 56px 55px 63px; */
  padding: 30px 30px;
  align-self: center;
}

.contact100-more {
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 2% 3%;
  color: #f2f2f2;
  background-color: #8e0726;
  display: inline-block;
}

.contact100-more h3 {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  align-items: center;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
}

.contact100-more span {
  width: 80%;
  align-items: center;
  text-align: center;
}

#register-form label, #register-form a, #login-form label, #login-form a {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 30px;
  /* border: 1px solid #e6e6e6; */
  /* border-bottom: none; */
  /* padding: 10px 25px; */
  /* margin-top: 15px; */
  margin-bottom: 0;
}

#register-form a, #login-form a {
  color: #8e0726;
  font-weight: bold;
}

#register-form input.text, #login-form input {
  height: fit-content;
  border-radius: 5px;
  width: 100%;
}

#checkAgree {
  /* height: initial; */
  /* border-radius: initial; */
  /* width: initial; */
  margin-right: 10px;
  /* background-color: #8e0726; */
  /* box-shadow: #D58; */
  box-shadow: inset 1px 3px 2px #D58;
}

#checkAgree:checked {
  background-color: #8e0726;
  border-color: #8e0726;
}
