<h1>Bienvenue dans le projet Cool-in !</h1>

<center><img src="projects/Cool-in-v3/cool-in-logo.png" alt="logo du projet"/></center>

<p class="card-text">
    Notre vie quotidienne est de plus en plus dense, avec de nombreuses choses à faire, que ce soit
    dans le domaine personnel, familiale, amical ou professionnel. L'objectif du projet Cool-in est de fabriquer
    un assistant personnel permettant d'organiser ses tâches, en prédisant leur durée et en gérant leur niveau de stress.
    Cet assistant permettra de donner un emploi du temps réaliste de ce que l'on peut faire, en anticipant les tâches imprévues et
    en gérant l'accumulation de stress.
</p>
<p>
    En participant à ce projet, vous contribuez à la constitution d'une base de tâches (personnelles, familiales, ...),
    annotées avec une estimation de leur durée et de leur niveau de stress. Cette base servira à mieux comprendre
    les questions d'organisation personnelle, de charge mentale, et à calibrer notre assistant personnel !
</p>

<br/>
