                <p>Etape <strong>2/6</strong></p>

            <table id="mytable" border="1">
                <tr>
                    <th>Tâche (fr)</th>
                    <th>Task (en)</th>
                    <th>Durée estimée</th>
                    <th>Stress lorsque le temps est disponible</th>
                    <th>Stress lorsqu'il ne reste que le temps nécessaire, et pas plus</th>
                </tr>


            <script>
                function generateLine(i,eng,fr){
                    table=document.getElementById("mytable");
                    table.innerHTML +=`
                      <tr>
                    <td>
                        <input type="text" name="text-task-${i}" value="${fr}" disabled/>
                    </td>
                    <td>
                        <input type="text" name="text-task-en-${i}" value="${eng}" disabled/>
                    </td>
                    <td>
                        <select name="duration-task-${i}" id="duration-task-${i}" >
                            <option value="">non renseigné</option>
                            <option value="1">30mn ou moins</option>
                            <option value="2">1 heure</option>
                            <option value="3">2 heures</option>
                            <option value="4">1 demi-journée</option>
                            <option value="5">1 journée</option>
                            <option value="6">2 jours</option>
                            <option value="7">3 jours</option>
                            <option value="8">1 journée</option>
                            <option value="9">2 jours</option>
                            <option value="10">3 jours</option>
                            <option value="11">1 semaine</option>
                            <option value="12">plus de 1 semaine</option>
                        </select>
                    </td>
                    <td>
                        <select name="stress-task-${i}" id="stress-task-${i}" >
                            <option value="">non renseigné</option>
                            <option value="1">aucun stress, relaxant</option>
                            <option value="2">aucun stress, neutre</option>
                            <option value="3">stress leger, motivant</option>
                            <option value="4">stress désagreable, fatiguant</option>
                            <option value="5">stress très élevé, ne doit durer trop longtemps</option>
                        </select>
                    </td>
                    <td>
                        <select name="stress-limit-task-${i}" id="stress-limit-task-${i}" >
                            <option value="">non renseigné</option>
                            <option value="1">aucun stress, voire relaxant</option>
                            <option value="2">aucun stress, neutre</option>
                            <option value="3">stress leger, motivant</option>
                            <option value="4">stress désagreable, fatiguant</option>
                            <option value="5">stress très élevé, ne doit durer trop longtemps</option>
                        </select>
                    </td>
                </tr>

                 `;


                }
        generateLine(1,"doing groceries","faire les courses")
        generateLine(2,"going for a run","aller courir")
        generateLine(3,"going to the gym","aller à la salle de sport")
        generateLine(4,"going for a walk","faire une promenade")
        generateLine(5,"cleaning the bathroom","nettoyer la salle de bain")
        generateLine(6,"tide up a room","ranger une pièce")
        generateLine(7,"cooking a snack","préparer une collation")
        generateLine(8,"cooking a meal","préparer un repas")
        generateLine(9,"watching a movie","regarder un film")
        generateLine(10,"taking a shower","prendre une douche")
        generateLine(11,"doing laundry","faire la lessive")
        generateLine(12,"going shopping (clothes)","faire des courses (vêtements)")
        generateLine(13,"going to the cinema","aller au cinéma")
        generateLine(14,"have dinner in a restaurant","dîner dans un restaurant")
        generateLine(15,"read a book (not a whole book but a part)","lire un livre (pas un livre entier mais une partie)")
        generateLine(16,"have breakfast","prendre un petit-déjeuner")
        generateLine(17,"eat a meal","manger un repas")
        generateLine(18,"video call with close friend","faire un appel vidéo avec un ami proche")
        generateLine(19,"drink a coffee","boire un café")
        generateLine(20,"dress up","s'habiller")
        generateLine(21,"skincare","s'occuper de sa peau / maquillage")
        generateLine(22,"meditation","faire une séance de méditation")
        generateLine(23,"journaling","rédiger son journal intime")
        generateLine(24,"reading the newspaper","lire le journal")
        generateLine(25,"checking the newsfeed of social media","vérifier le fil d'actualité des médias sociaux")
        generateLine(26,"sleep","dormir")
        generateLine(27,"take a nap","faire une sieste")
        generateLine(28,"perform a personnal activity","faire une activité personnelle")
        generateLine(29,"going to the hairdresser","aller chez le coiffeur")
        generateLine(30,"mow the lawn","tondre la pelouse")
        generateLine(31,"walking the dog","promener le chien")
        generateLine(32,"play with the kids","jouer avec les enfants")
        generateLine(33,"do the dishes","faire la vaisselle")
        generateLine(34,"medical appointment","aller à un rendez-vous médical")
        generateLine(35,"look for work","chercher du travail")
        generateLine(36,"do housework","faire le ménage")
        generateLine(37,"ironing","repasser")
        generateLine(38,"gardening","jardiner")
        generateLine(39,"go for a hike","faire une randonnée")
        generateLine(40,"practice some music","pratiquer de la musique")
        generateLine(41,"take the kids to school","emmener les enfants à l'école")
        generateLine(42,"bake a cake","faire un gâteau")
        generateLine(43,"visit a friend","rendre visite à un ami")
        generateLine(44,"pepare vacation","préparer des vacances")
        generateLine(45,"chatting with colleagues","bavarder avec des collègues")
        generateLine(46,"maintain a vehicle","entretenir un véhicule")
        generateLine(47,"do homework","faire ses devoirs")
        generateLine(48,"play videogames","jouer à des jeux vidéo")
        generateLine(49,"listen to music","écouter de la musique")
        generateLine(50,"Prepare project presentation","Préparer la présentation du projet")
        generateLine(51,"Write project report","Rédiger le rapport du projet")
        generateLine(52,"Do practical assignment","Faire un travail pratique")
        generateLine(53,"Create UML diagram","Créer un diagramme UML")
        generateLine(54,"review course number X","reviser le cours numero X")
        generateLine(55,"review all the course before the exam","reviser tous le cours avant l'examen")
        generateLine(56,"work on a tutorial","travailler un TD")
        generateLine(57,"redo a lab","refaire un TP")
        generateLine(58,"install your machine","installer sa machine")
        generateLine(59,"make a backup of your machine","faire une sauvegarde de sa machine")
        generateLine(60,"configure the printer","configurer l'imprimante")
        generateLine(61,"make the administrative enrolment","faire l'inscription administrative")
        generateLine(62,"make the project","faire le projet")
        generateLine(63,"make the plan of a report","faire le plan d'un rapport")
        generateLine(64,"write the introduction of a report","ecrire l'introduction d'un rapport")
        generateLine(65,"write the bibliography of a report","faire la bibliographie d'un rapport")
        generateLine(66,"write a chapter of a report","faire un chapitre d'un rapport")
        generateLine(67,"find student housing","trouver un logement étudiant")
        generateLine(68,"find a student job","trouver un travail étudiant")
        generateLine(69,"make a transportation card","faire sa carte de transport")
        generateLine(70,"find an internship","trouver un stage")
        generateLine(71,"update your resume","mettre à jour son cv")
        generateLine(72,"update your web page","mettre à jour sa page web")
        generateLine(73,"organize a meeting with a single participant","organiser une réunion avec un unique participant")
        generateLine(74,"Hold a group meeting","Organiser une réunion de groupe")


            </script>




