text-align: justify;
/*

background-color: #8E0727;
background-image: url('projects/KartuVerbs/footer.png');
background-repeat: no-repeat;
background-position: right bottom;
*/

/* #8E0727 no-repeat right/20% */
