<H1>VirtUs - Silhouettes réalistes</H1>

<p>L'objectif scientifique de notre projet est la synthèse de corps virtuels réalistes, pouvant marcher, sauter, dancer, ... de façon crédible.
    Pour qualifier précisément ce qui rend de tels corps crédibles, nous avons besoin de votre aide !
</p>

<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#readMore" aria-expanded="false"
            aria-controls="collapseExample">
        En savoir plus
    </button>
</p>

<p class="card-text">
    <b>Remerciement</b> Ce projet est financé par XXXX.
</p>

<div class="collapse" id="readMore">
    <div class="card card-body">
        <p class="card-text">
            Plus précisément, ...
        </p>
        <h2>Contact</h2>
        <ul>
            <li>anne-helene.olivier@inria.fr
        </ul>
    </div>
</div>

<img width="100%" src="./projects/VirtUs/media/virtus-logo.png"/>

