<H1>VirtUs - Realistic Bodies</H1>

<p>The goal of this project is to synthetize realistic bodies that are convincingly moving, jumping, dancing, etc. In
    order to precisely
    qualify what makes a synthetic body realistic, we need your help!
</p>

<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#readMore" aria-expanded="false"
            aria-controls="collapseExample">
    Read more
</button>

</p>

<p class="card-text">
    <b>Acknowledgment</b> This research is supported by XXXXX grant.
</p>

<div class="collapse" id="readMore">
    <div class="card card-body">
        <p class="card-text">
            In more details, ...
        </p>
        <h2>Contact</h2>
        <ul>
            <li>anne-helene.olivier@inria.fr
        </ul>

    </div>

</div>
<img width="100%" src="./projects/VirtUs/media/virtus-logo.png"/>

