<h1>Bienvenue dans le projet Cool-in !</h1>

<center><img src="projects/Cool-in/cool-in-logo.png" alt="logo du projet"/></center>
<p>
    En participant à ce projet, vous contribuez à la constitution d'une base de tâches personnelles ou professionnelles
    (ou TODO lists), annotées avec une estimation de leur durée et de leur niveau de stress. Cette base servira à mieux
    comprendre les questions d'organisation personnelle, de charge mentale, et à améliorer les assistants personnels. Lorsque
    la base sera suffisamment grande, une IA pourra être entraînée à prédire durée et stress !
</p>
<p>
    Ce projet vous propose deux activités distinctes :
    <ul>
        <li>Une collecte de TODOs : recopiez vos post-its ou votre liste du jour !</li>
        <il>Un exercice de décomposition de tâche : quand une tâche est trop grande, il faut la découper. A vous de jouer !</il>
    </ul>

</p>
<p><b>Merci pour votre aide ! A la fin de la campagne de saisie, les 3 personnes ayant le plus contribué recevront un 4h gratuit
    à l'ISTIC (une boisson et une viennoiserie), et auront leur nom sur le mur du projet ! </b></p>