
 <p class="card-text">

Congratulations ! You are now aware of the basics of HEADWORK. You were granted this specific skill in your <b>Skill Tree</b> (see the <b>Progess</b> menu). Look inside to see your score. This score is used to rank the tasks proposed to you (relevance score).
</p>

<div class="alert alert-success" role="alert">
  Skill  ‘‘Headwork Basics‘‘ granted !<br/>
  Skill  ‘‘Headwork Principles‘‘ granted !
</div>

